machine:
  python:
    version: 2.7.3
  services:
    - docker

checkout:
  post:
    - mkdir -p ${GOPATH%%:*}/src/github.com/${CIRCLE_PROJECT_USERNAME}
    - ln -sf $(pwd) ${GOPATH%%:*}/src/github.com/${CIRCLE_PROJECT_USERNAME}/$(basename $(pwd))

dependencies:
  pre:
    - pip install awscli
  override:
    - go get -d -t ./...
    - go get github.com/tools/godep


test:
  override:
    - make test build

deployment:
  master:
    branch: master
    commands:
      - curl -sLu "$GH_LOGIN:" https://raw.githubusercontent.com/segmentio/scripts/master/circle/docker/build-tag.sh | sh
      - curl -sLu "$GH_LOGIN:" https://raw.githubusercontent.com/segmentio/scripts/master/circle/stage-tag.sh | sh
  staging:
    branch: staging
    commands:
      - curl -sLu "$GH_LOGIN:" https://raw.githubusercontent.com/segmentio/scripts/master/circle/docker/build.sh | sh
      - curl -sLu "$GH_LOGIN:" https://raw.githubusercontent.com/segmentio/scripts/master/circle/stage.sh | sh