package main

import (
    "github.com/segmentio/kit"
    "github.com/segmentio/kit/log"
    "github.com/segmentio/kit/schema"
)

var Version = "0.0.0"

func handlerFunc() {
    // Service code goes here, this function
    // is called after kit initialization process
    log.Info("Handler Started!")
}

func main() {
    kit.Run(schema.Service{
        Name: {{.ServiceName}},
        Version: Version,
        Config: schema.Config{},
        Handler: handlerFunc,
    })
}